<nav class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="blue">
      <div class="red">
        <div class="yellow">
          <div class="green">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
	{{outlet}}
</div>
